<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ "/css/asciidoctor-default.css" | prepend: site.baseurl }}"/>
        <link rel="stylesheet" href="{{ "/css/asciidoc-pygments.css" | prepend: site.baseurl }}"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ page.title }}</title>
    </head>
    <body class="toc2 toc-left">
        <div id="header">
            <div id="toc">
                {{ page.document | tocify_asciidoc }}
            </div>
        </div>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
