<!DOCTYPE html>

<html>
    <head>
        <style>

            {% include asciidoctor-default.css %}

        </style>
        <style>

            {% include asciidoc-pygments.css %}

        </style>
        <style>

            {% include font-awesome.min.css %}

        </style>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ page.title }}</title>
    </head>
    <body class="toc2 toc-left">
        <div id="header">
            <div class="toc2" id="toc">
                <div id="toctitle">Table of Contents</div>
                {{ page.document | tocify_asciidoc }}
            </div>
        </div>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
