.listingblock .pygments .hll { background-color: #ffffcc }
.listingblock .pygments, .listingblock .pygments code { background: #ffffff; }
.listingblock .pygments .tok-c { color: #008000 } /* Comment */
.listingblock .pygments .tok-err { border: 1px solid #FF0000 } /* Error */
.listingblock .pygments .tok-k { color: #0000ff } /* Keyword */
.listingblock .pygments .tok-cm { color: #008000 } /* Comment.Multiline */
.listingblock .pygments .tok-cp { color: #0000ff } /* Comment.Preproc */
.listingblock .pygments .tok-c1 { color: #008000 } /* Comment.Single */
.listingblock .pygments .tok-cs { color: #008000 } /* Comment.Special */
.listingblock .pygments .tok-ge { font-style: italic } /* Generic.Emph */
.listingblock .pygments .tok-gh { font-weight: bold } /* Generic.Heading */
.listingblock .pygments .tok-gp { font-weight: bold } /* Generic.Prompt */
.listingblock .pygments .tok-gs { font-weight: bold } /* Generic.Strong */
.listingblock .pygments .tok-gu { font-weight: bold } /* Generic.Subheading */
.listingblock .pygments .tok-kc { color: #0000ff } /* Keyword.Constant */
.listingblock .pygments .tok-kd { color: #0000ff } /* Keyword.Declaration */
.listingblock .pygments .tok-kn { color: #0000ff } /* Keyword.Namespace */
.listingblock .pygments .tok-kp { color: #0000ff } /* Keyword.Pseudo */
.listingblock .pygments .tok-kr { color: #0000ff } /* Keyword.Reserved */
.listingblock .pygments .tok-kt { color: #2b91af } /* Keyword.Type */
.listingblock .pygments .tok-s { color: #a31515 } /* Literal.String */
.listingblock .pygments .tok-nc { color: #2b91af } /* Name.Class */
.listingblock .pygments .tok-ow { color: #0000ff } /* Operator.Word */
.listingblock .pygments .tok-sb { color: #a31515 } /* Literal.String.Backtick */
.listingblock .pygments .tok-sc { color: #a31515 } /* Literal.String.Char */
.listingblock .pygments .tok-sd { color: #a31515 } /* Literal.String.Doc */
.listingblock .pygments .tok-s2 { color: #a31515 } /* Literal.String.Double */
.listingblock .pygments .tok-se { color: #a31515 } /* Literal.String.Escape */
.listingblock .pygments .tok-sh { color: #a31515 } /* Literal.String.Heredoc */
.listingblock .pygments .tok-si { color: #a31515 } /* Literal.String.Interpol */
.listingblock .pygments .tok-sx { color: #a31515 } /* Literal.String.Other */
.listingblock .pygments .tok-sr { color: #a31515 } /* Literal.String.Regex */
.listingblock .pygments .tok-s1 { color: #a31515 } /* Literal.String.Single */
.listingblock .pygments .tok-ss { color: #a31515 } /* Literal.String.Symbol */