<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.title}}</title>


    <meta name="description"
          content="Update what your Blog is about in this section"/>

    <meta name="author" content="Your name goes here"/>
    <meta name="copyright" content="Maybe consider a Creative Commons license"/>

    <link rel="stylesheet" href="{{page.root}}css/foundation.css"/>
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css"/>
    <link rel="stylesheet" href="{{page.root}}css/coderay.css"/>
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css"/>
    <script src="{{page.root}}js/vendor/modernizr.js"></script>
    <script src="{{page.root}}js/toc.js"></script>
</head>
<body>


<!-- Nav Bar -->

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="{{page.root}}">
                    {{page.title}}
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        {{ content }}

    </div>

    <!-- End Main Content -->

    <!-- Sidebar -->

    <aside class="large-3 columns">

        <h4>Posts</h4>
        <ul id="posts" class="posts nav">
            {% for post in site.posts limit: 5 %}
            <li><a href=".{{ post.url }}">{{ post.shortTitle }}</a></li>
            {% endfor %}
        </ul>

        <div class="panel">
            <h5>Featured</h5>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                nulla pork belly cupidatat meatloaf cow.</p>
        </div>

    </aside>

    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <p>Footer</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation/foundation.js"></script>
<script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>
